table {
    margin: 0 auto; 
    border-collapse: collapse; 
    text-align: center;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    
table, th, td {
    border: 1px solid black;
    padding: 10px;
    
    